---
interface Props {
  title: string;
  id?: string;
}

const { title, id } = Astro.props;
---

<a class="anchor" id={id}></a>
<div class="card mt-3 p-3">
  <h3 class="card-title font-weight-medium">{title}</h3>
  <div>
    <slot />
  </div>
</div>
